torch
torchvision
torchaudio
# we need transformers 4.31.0 to support ROPE; that comes
# with this version of fschat...
fschat>=0.23.0
transformers
openai
accelerate
ftfy
diffusers
chromadb
langchain
nvitop
